.header {
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
}

.header__left, .header__right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header__menu {
    cursor: pointer;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__menu:hover {
    background: var(--cl-light-gray);
}

.header__item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    background: var(--cl-light-gray);
    border-radius: 100px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: var(--cl-black);
}

.header__language_img {
    width: 24px;
    border-radius: 50%;
}
/* =============== Media queries =================================== */
@media only screen and (max-width: 680px) {
    .header__location,
    .header__basket,
    .header__language,
    .header__account_title
    {
        display: none;
    }
}